
CrudEmpleadosClean/Application/obj/Debug/net8.0/Application.AssemblyInfoInputs.cache
CrudEmpleadosClean/Application/obj/Debug/net8.0/Application.AssemblyInfo.cs
CrudEmpleadosClean/Application/obj/Debug/net8.0/Application.AssemblyInfoInputs.cache
CrudEmpleadosClean/WebApi/obj/Debug/net8.0/WebApi.AssemblyInfoInputs.cache
CrudEmpleadosClean/WebApi/obj/Debug/net8.0/WebApi.AssemblyInfo.cs
CrudEmpleadosClean/Infrastructure/obj/Debug/net8.0/Infrastructure.AssemblyInfoInputs.cache
CrudEmpleadosClean/Infrastructure/obj/Debug/net8.0/Infrastructure.AssemblyInfo.cs
